apiVersion: v1
data:
  Corefile: |
    .:53 {
        errors
        health
        kubernetes {{ pillar.k8s_network.internal_dn }} in-addr.arpa ip6.arpa {
           pods insecure
           upstream
           fallthrough in-addr.arpa ip6.arpa
        }
        prometheus :9153
        proxy . {{ pillar.k8s_addon.coredns.upstreams | join(" ") }}
        cache 30
        reload
    }
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
