apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: coredns
  name: coredns-tcp
  namespace: {{ pillar.k8s_addon.coredns_ex.namespace }}
spec:
  type: LoadBalancer
  externalIPs:
  - {{ pillar.k8s_network.dns_ex_vip }}
  ports:
  - name: dns-tcp
    port: 53
    protocol: TCP
  - name: metrics
    port: 9153
    protocol: TCP
  selector:
    k8s-app: coredns

---

apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: coredns
  name: coredns-udp
  namespace: {{ pillar.k8s_addon.coredns_ex.namespace }}
spec:
  type: LoadBalancer
  externalIPs:
  - {{ pillar.k8s_network.dns_ex_vip }}
  ports:
  - name: dns
    port: 53
    protocol: UDP
  selector:
    k8s-app: coredns
