kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: "{{ pillar.k8s_common.encryption_token }}"
      - identity: {}
