apiVersion: v1
kind: Endpoints
metadata:
  labels:
    k8s-app: kube-controller-manager
  name: kube-controller-manager
  namespace: kube-system
subsets:
- addresses:
{% for myhost in pillar['k8s_host']['master'] %}
  - ip: {{ hostvars[myhost].ansible_default_ipv4.address }}
{% endfor %}
  ports:
  - name: http-metrics
    port: 10252
    protocol: TCP
