apiVersion: v1
kind: Secret
metadata:
  name: minio-creds-secret
  namespace: {{ pillar.k8s_extra_addon.minio.namespace }}
type: Opaque
data:
  accesskey: {{ pillar.k8s_extra_addon.minio.access_key }}
  secretkey: {{ pillar.k8s_extra_addon.minio.secret_key }}
