apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: k8s-dashboard
  namespace: kube-system
  annotations:
    nginx.ingress.kubernetes.io/backend-protocol: "https"
    nginx.ingress.kubernetes.io/auth-tls-pass-certificate-to-upstream: "true"
spec:
  rules:
  - host: dashboard.{{ pillar.k8s_env.external_dn }}
    http:
      paths:
      - backend:
          serviceName: kubernetes-dashboard
          servicePort: 443
