apiVersion: kafka.strimzi.io/v1alpha1
kind: Kafka
metadata:
  name: {{ pillar.k8s_extra_addon.kafka.cluster_name }}
  namespace: {{ pillar.k8s_extra_addon.kafka.namespace }}
spec:
  kafka:
    version: 2.1.0
    replicas: 3
    listeners:
      plain: {}
      tls: {}
    config:
      offsets.topic.replication.factor: 3
      transaction.state.log.replication.factor: 3
      transaction.state.log.min.isr: 2
      log.message.format.version: "2.1"
    storage:
      type: persistent-claim
      size: 20Gi
      deleteClaim: true
      class: {{ pillar.k8s_pv.nfs.storage_class }}
  zookeeper:
    replicas: 3
    storage:
      type: persistent-claim
      size: 20Gi
      deleteClaim: true
      class: {{ pillar.k8s_pv.nfs.storage_class }}
  entityOperator:
    topicOperator: {}
    userOperator: {}

