{
  "CN": "{{ pillar.rootca.k8s_ca.Common_Name }}",
  "key": {
    "algo": "{{ pillar.ca_common.key_algorithm }}",
    "size": {{ pillar.ca_common.key_size }}
  },
  "names": [
    {
      "C": "{{ pillar.rootca.k8s_ca.Country }}",
      "ST": "{{ pillar.rootca.k8s_ca.STate }}",
      "L": "{{ pillar.rootca.k8s_ca.Locality }}",
      "O": "{{ pillar.rootca.k8s_ca.Organization }}",
      "OU": "{{ pillar.rootca.k8s_ca.Organization_Unit }}"
    }
  ]
}
