apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: nginx-ingress
spec:
  rules:
  - host: nginx.{{ pillar.k8s_network.external_dn }}
    http:
      paths:
      - backend:
          serviceName: nginx
          servicePort: 80
