apiVersion: v1
kind: Namespace
metadata:
  name: kube-system
---
apiVersion: v1
kind: Secret
metadata:
  name: bootstrap-token-{{ pillar.tls_bootstrap.token_id }}
  namespace: kube-system
type: bootstrap.kubernetes.io/token
stringData:
  token-id: "{{ pillar.tls_bootstrap.token_id }}"
  token-secret: "{{ pillar.tls_bootstrap.token_secret }}"
  usage-bootstrap-authentication: "true"
  usage-bootstrap-signing: "true"
  auth-extra-groups: system:bootstrappers:default-node-token
